.container {
    max-width: 600px;
    margin: 0 auto;
}

.nav-tabs {
    margin-bottom: 20px;
}

.tab-content {
    border: 1px solid #ddd;
    padding: 20px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.button-container .btn {
    margin-left: 10px;
}

/* Стили для кнопки меню */
.user-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 50%;
}

.navbar {
    margin-bottom: 40px;
    padding-right: 20px;
}

.navbar .btn {
    display: flex;
    align-items: center;
    gap: 5px;
}
.user-avatar {
    width: 200px; /* Замените на желаемую фиксированную ширину */
    height: 200px; /* Замените на желаемую фиксированную высоту */
    border-radius: 50%;
    overflow: hidden;
}
.tickets-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.ticket {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.ticket p {
    margin: 5px 0;
}

/* Опциональные стили для заголовка */
#orders h2 {
    text-align: center;
    margin-bottom: 20px;
}